<div class="user-details">
  <h1> About Ming_Ki </h1>
  <div class="about_user_description"> {{site.user_description}} </div>
</div>
<div class="about_mkc_img">
  <img src="/assets/pic/mkc.jpg" alt="Ming_Ki Chong" height="150" />
</div>
<div class="about_table">
  <pre>
    <table>
      <tr>
        <td>{&nbsp;</td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"first_name"</td><td>&nbsp;:&nbsp;</td><td>"Ming_Ki",</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"last_name"</td><td>&nbsp;:&nbsp;</td><td>"Chong",</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"also_known_as"</td><td>&nbsp;:&nbsp;</td><td>"The guy with an _underscore"</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"who_am_i"</td><td>&nbsp;:&nbsp;</td><td>"Software Developer, Researcher, Mentor, Leader"</td><td></td>
      </tr>
      <tr>
        <td>}&nbsp;</td><td></td><td></td><td></td><td></td>
      </tr>
    </table>
  </pre>
</div>
<div class="about_user-details">
  <h3> My Name </h3>
</div>
<div class="about_details">
  My full name is "<span style="font-weight: bold;">Ming Ki Chong</span>".
  <span style="font-style: italic;">"Ming Ki"</span> is my first name, and <span style="font-style: italic;">"Chong"</span> is my surname.
  People often get confused by the blank space in my first name and called me "Ming" or "Ki Chong" ¯\_(ツ)_/¯.
  To make life simpler I substituted the blank space for an underscore, so you can call me the guy with an _underscore.
</div>
<div class="about_user-details">
  <h3> @ Booking.com </h3>
</div>
<div class="about_details_booking">
  I am a software developer and currently team leading two teams in Application Security of Booking.com.
  My teams are responsible for protecting Booking.com from security vulnerabilities and detecting anomalies and bots.
</div>
<div class="about_details_booking">
  Before working in security, I have multiple years of experience of building APIs (RESTful services) and optimising system architecture for high volume of traffic. I was part of the team that implemented and successfully launched <span id="about_link"><a href="https://news.booking.com/bookingcom-launches-new-content-api-for--accommodations-channel-managers-and-content-providers/" target="_blank">Booking.com's Content API</a></span>; a direct channel for content managers to build and maintain properties on Booking.com.
</div>
<div class="about_details_booking">
  I also implemented the <span id="about_link"><a href="./assets/pic/brotli.png" data-lightbox="brotli" data-title="When a Booking.com's webpage responds with a header of 'Content-Encoding: br', the brotli compression feature is enabled for that page.">Brotli compression feature for Booking.com's frontend website</a></span>. Results of the A/B test showed that the feature is over 10% more data efficient compared to gzip compression. The improved compression enabled quicker delivery of Booking.com's web content to end users.
</div>
<div class="about_user-details">
  <h3> My Research Interests </h3>
</div>
<div class="about_details">
  I have special interests in user-centered design and creating technology that is easy to use.
  Before Booking.com, I was a researcher in <span id="about_link"><a href="https://www.gla.ac.uk/schools/computing/" target="_blank">University of Glasgow</a></span> and <span id="about_link"><a href="http://www.lancaster.ac.uk/scc/" target="_blank">Lancaster University</a></span> in the UK.
  I have a <span id="about_link"><a href="http://www.research.lancs.ac.uk/portal/en/publications/understanding-spontaneous-device-association(0849d7da-ed82-4cb7-9535-23eee545441e)/export.html" target="_blank">PhD in Computer Science</a></span> with a specialisation in understanding users' needs.
  My research interests are in the cross section of Computer Science, Mobile Computing, Human-Computer Interaction, Ubiquitous Computing, and Security and Authentication.
  I collaborated with researchers to investigate topics of <em>pairing mobile devices</em>, <em>eye tracking</em>, <em>touch and gestural user interaction</em>, and <em>interventions for work-life balance</em>.
</div>
<div class="about_grumpy_note">
  btw, if you don't know by now, I love grumpy cat :)
</div>

