<div class="about_down_scroll">
  <span id="about_link">
    <a href="#about" data-scroll>{% include arrow-down.html %}</a>
  </span>
</div>
<section id="about">

<div class="user-details">
  <h1> About Ming_Ki </h1>
</div>

<div>
  <img class="about_author" src="/assets/pic/mkc.300x300.jpg" />
</div>

<div class="about_user-details" id="about_name">
  <h3> My Name </h3>
</div>
<div class="about_details">
  My full name is "<span style="font-weight: bold;">Ming Ki Chong</span>" (pronouns he/him/his).
  <span style="font-style: italic;">"Ming Ki"</span> is my first name (it's a double-barrelled name), and <span style="font-style: italic;">"Chong"</span> is my surname.
  You are welcome to address me by my first name. Stay casual, no need to be formal (◕‿-).
</div>

<div class="about_user-details">
  <h3> My Philosophy </h3>
</div>
<div class="about_details">
  I believe in <strong>simplicity</strong>, "<strong><span class="tooltip">less is more<span class="tooltiptext">a.k.a. minimalism</span></span></strong>", and “<strong>everything should be made as simple as possible, but no simpler</strong>”.
  Also, no matter how sophisticated a concept is, if it is not solving a problem, it is unuseful.
</div>
<div class="about_details">
  My philosophy is "<strong>users first</strong>" and <strong>decisions should be made based on facts, not assumptions</strong>.
  <!-- I deplore micromanagement.  -->
  Team members should be able to think freely, and everyone in a team has an equal voice.
</div>
<div class="about_details">
  I embrace the <strong>supportive leadership</strong> style.
  I influence others through persuation, not manipulation.
  And, I strongly believe in growing juniors and empowering peers to force multiply.
</div>
<div class="about_details">
  I appreciate constructive criticisms.
  I welcome everyone to challenge my ideas, believes, and decisions.
</div>
<div class="about_details">
  I mentor by guiding and challenging people to think differently, as well as <span id="about_link"><a><span class="tooltip">outside the box<span class="tooltiptext">but what if the box contains Schr&ouml;dinger's cat (<i class="fas fa-box-open"></i> + <i class="fas fa-cat"></i> + <i class="fas fa-flask"></i>) ?</span></span></a></span>.
  We are all familiar with the old saying of "<em>Give a man a fish, and you feed him for a day. Teach a man to fish, and you feed him for a lifetime.</em>"
  I believe we should push it a step further.
  Ask the man what different tools he can make or use to get more fish.
  So, <em>guide a man to think of fishing differently, and you feed him, his family, and his village, for as long as they like fish</em>.
  <span id="about_link"><a><span class="tooltip"><i class="far fa-grin-tongue-squint"></i> reverse fishing <i class="far fa-grin-squint-tears"></i><span class="tooltiptext"><img height="350px" src="https://i.pinimg.com/474x/04/35/07/043507090694a0025200c2dd0bfce9b1--fishing-stuff-fly-fishing.jpg"/></span></span></a></span>
</div>
<div class="about_details">
  New ideas start with breaking free from conventional thinking.
</div>

<div class="about_user-details">
  <h3> My Interests </h3>
</div>
<div class="about_details">
  <div class="about_interest_center">
    <ul class="about_interest_list">
      <li>Building APIs and useful technology that solve problems</li>
      <li>Designing system architectures and making them scalable</li>
      <li>Understanding requirements of users and solving their needs</li>
      <li>Mentoring juniors and celebrating their successes</li>
      <li>Learning new technology (or anything, for that matter)</li>
    </ul>
  </div>
</div>

<div class="about_user-details">
  <h3> My Brief History </h3>
</div>
<div class="about_details">
  Currently, I am working as a senior software engineer &#64; <span id="about_link"><a href="https://ironcladapp.com/" target="_blank">Ironclad, Inc.</a></span>, a contract management software company in San Francisco, CA.
</div>
<div class="about_details">
  I spent a few years in the Netherlands.
  I was working as a team lead and a backend software engineer in Booking.com.
  I have years of experience of building APIs (RESTful services) and optimising system architecture for high volume of traffic.
  In Booking.com, I was part of the team (which I also led) that implemented and successfully launched <span id="about_link"><a href="https://news.booking.com/bookingcom-launches-new-content-api-for--accommodations-channel-managers-and-content-providers/" target="_blank">Content API</a></span>.
  The <span id="about_link"><a href="https://connect.booking.com/user_guide/site/en-US/content/" target="_blank">API</a></span> is a direct channel for content managers to build and maintain properties on Booking.com via HTTP calls.
  The team also refactored a huge monolith into smaller modules for migration to microservices.
</div>
<div class="about_details">
  I also implemented the
  <span id="about_link">
    <a target="_blank" href="/assets/pic/brotli.png" data-lightbox="brotli" data-title="When a Booking.com's webpage responds with a header of 'Content-Encoding: br', the brotli compression feature is enabled for that page.">Brotli compression feature for Booking.com's frontend web traffic</a>
  </span>.
  Results of the A/B tests showed that the feature is over 10% more data efficient than gzip. The improved compression enables quicker delivery of Booking.com's web content to end users.
</div>
<div class="about_details">
  Prior to working in the industry, I was an academic researcher in <span id="about_link"><a href="https://www.gla.ac.uk/schools/computing/" target="_blank">University of Glasgow</a></span> and <span id="about_link"><a href="http://www.lancaster.ac.uk/scc/" target="_blank">Lancaster University</a></span> in the UK.
</div>
<div class="about_user-details">
  <h3> My Research Interests </h3>
</div>
<div class="about_details">
  I have special interests in user-centered design and creating technology that is easy to use.
  My expertise is in qualitative user research.
  I have a
  <span class="tooltip">
    <span id="about_link">
      <a href="http://www.research.lancs.ac.uk/portal/en/publications/understanding-spontaneous-device-association(0849d7da-ed82-4cb7-9535-23eee545441e).html" target="_blank">PhD in Computer Science</a>
    </span>
    <span class="tooltiptext"><a href="http://www.research.lancs.ac.uk/portal/en/publications/understanding-spontaneous-device-association(0849d7da-ed82-4cb7-9535-23eee545441e).html" target="_blank"><img src="/assets/pic/PhD/phd-front.png" width="250px"/></a></span>
  </span>
  with a specialisation in understanding users' needs and requirements.
</div>
<div class="about_details">
  My research interests are in the cross section of <em>Mobile Computing</em>, <em>Human-Computer Interaction (HCI)</em>, <em>Ubiquitous Computing</em>, and <em>Usable Security</em>.
  I investigated topics of
  <div>
    <ul style="display:inline-block;text-align:left;list-style-type:circle;margin-bottom:0em;">
      <li><strong>connecting wireless devices</strong></li>
      <li><strong>multimodal interaction (gaze, touch, gesture)</strong></li>
      <li><strong>mobile authentication</strong></li>
      <li><strong>interventions for work-life balance</strong></li>
    </ul>
  </div>
</div>
<div class="about_details">
  Feel free to have a look at <span id="about_link"><a href="#projects" data-scroll>my past projects</a></span> and <span id="about_link"><a href="#publications" data-scroll>my publications</a></span>, or reach out to me directly if you are interested in any of the topics.
</div>

</section>
