<div class="user-details">
  <h1> About Ming_Ki </h1>
  <div class="about_user_description"> {{site.user_description}} </div>
</div>
<div class="about_details">
  My full name is "<span style="font-weight: bold;">Ming Ki Chong</span>".
  <span style="font-style: italic;">"Ming Ki"</span> is my first name, and <span style="font-style: italic;">"Chong"</span> is my surname.
  People often get confused by the blank space in my first name and called me "Ming" or "Ki Chong" (¯\_(ツ)_/¯ those are not my name).
  To make life simpler I substituted the blank space for an underscore, so you can call me the guy with an _underscore.
</div>
<div class="about_table">
  <pre>
    <table>
      <tr>
        <td>{&nbsp;</td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"first_name"</td><td>&nbsp;:&nbsp;</td><td>"Ming_Ki",</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"last_name"</td><td>&nbsp;:&nbsp;</td><td>"Chong",</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"also_known_as"</td><td>&nbsp;:&nbsp;</td><td>"The guy with an _underscore"</td><td></td>
      </tr>
      <tr>
        <td></td><td align="right">"who_am_i"</td><td>&nbsp;:&nbsp;</td><td>"Software Developer, Researcher, Mentor, Leader"</td><td></td>
      </tr>
      <tr>
        <td>}&nbsp;</td><td></td><td></td><td></td><td></td>
      </tr>
    </table>
  </pre>
</div>
<div class="about_details">
  I am a software developer and team lead in Booking.com.
  I have special interests in user-centered design and creating technology that is easy to use.
  Before joining Booking.com, I was a researcher in University of Glasgow and Lancaster University in the UK.
  I have a <span id="about_link"><a href="http://www.research.lancs.ac.uk/portal/en/publications/understanding-spontaneous-device-association(0849d7da-ed82-4cb7-9535-23eee545441e)/export.html" target="_blank">PhD</a></span> in Computer Science with a specialisation in understanding users' needs.
  My research interests are in the cross section of Computer Science, Mobile Computing, Human-Computer Interaction, Ubiquitous Computing, and Security and Authentication.
  I have collaborated with researchers to investigate topics of <em>pairing mobile devices</em>, <em>eye tracking</em>, <em>touch and gestural user interaction</em>, and <em>interventions for work-life balance</em>.
</div>
<div class="about_grumpy_note">
  btw, if you don't know by now, I love grumpy cat :)
</div>

