<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
    </h1>
    <div class="header-icons">
      {% if site.email_address %}
        <a aria-label="Send email"><span class="tooltip"><i class="icon fas fa-mail-bulk"></i><span class="tooltiptext">email&#58; &#91; {{ site.email_address }} &#93;</span></span></a>
      {% endif %}
      {% if site.twitter_username %}
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.gplus_username %}
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.linkedin_username %}
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fab fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.youtube_username %}
        <a aria-label="My YouTube" target="_blank" href="https://www.youtube.com/user/{{site.youtube_username}}"><i class="icon fab fa-youtube-square" aria-hidden="true"></i></a>
      {% endif %}
      {% if site.google_play_app %}
        <a aria-label="My Android App" target="_blank" href="{{site.google_play_app}}"><i class="icon fab fa-google-play" aria-hidden="true"></i></a>
      {% endif %}
    </div>
    <div class="header-links">
      {% if site.include_summary %}
        <a class="link" href="#summary" data-scroll>TLDR</a>
      {% endif %}
      {% if site.include_about %}
        <a class="link" href="#about" data-scroll>About Me</a>
      {% endif %}
      {% if site.include_skills %}
        <a class="link" href="#skills" data-scroll>Skills</a>
      {% endif %}
      {% if site.include_project %}
        <a class="link" href="#projects" data-scroll>Projects</a>
      {% endif %}
      {% if site.include_publication %}
        <a class="link" href="#publications" data-scroll>Publications</a>
      {% endif %}
    </div>
  </div>
  <span id="about_link" class="down">
    <a href="#summary" data-scroll>
      {% include arrow-down-top.html %}
    </a>
  </span>
</div>
