<div class="about_down_scroll">
  <span id="about_link">
    <a href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </span>
</div>
<section id="projects">

<div class="user-details">
  <h1> My Past Projects </h1>
</div>
<div class="projects_main_first">
  <span class="project_name">MyLifeRocket</span> is a project that focused on life-style habits and well-being.
  It is a web-based self-tracking platform for people to report their behaviour/thought/mood.
  It incorporates social networking features which allow friends to join experiments, as well as share and discuss their experience.
  <div style="margin-top: 10px;">Below is a short demo:</div>
  <div class="project_demo_video">
    <iframe width="420" height="236" src="https://www.youtube.com/embed/LElHjxGb3S4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<div class="projects_main_after_first">
  <span class="project_name">SqueezeDiary</span> is a mobile app that literally allows users to squeeze the moment (<span id="projects_link"><a href="https://github.com/DigitalBrainSwitch/DBS_Blobo" target="_blank">source</a></span>).
  A user enter a diary event by squeezing a sensor ball.
  The squeeze action triggers the system to record the timestamp, the location, and the pressue as a diary instance.
  The user can later review and reflect on the stored instances, as well as add additional information.
  In parallel, I also created a mobile text diary for comparison (<span id="projects_link"><a href="https://github.com/DigitalBrainSwitch/DBS_Text" target="_blank">source</a></span>).
  <div style="margin-top: 10px;">
    The SqueezeDiary app was showcased in multiple international conferences.
    The research study result was published in <span id="projects_link"><a href="https://doi.org/10.1007/978-3-319-22698-9_24" target="_blank">INTERACT 2015</a></span>.
  </div>
  <div class="project_demo_video">
    <iframe width="420" height="236" src="https://www.youtube.com/embed/cY3L1VSIuvw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="420" height="236" src="https://www.youtube.com/embed/-PZ5x6MfKJ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="projects_main_after_first">
  <span class="project_name">GesturePIN (Gesture Password)</span> consists of 10 distinct gestures.
  It is a new interface for users to enter their PIN.
  The concept is to replace PIN digits with gestures, especially for mobile devices that are too small to have a user interface for PIN entry.
  <div class="project_demo_video">
    <iframe width="420" height="236" src="https://www.youtube.com/embed/wGKl5Rrjg9E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="420" height="236" src="https://www.youtube.com/embed/5l6nGC4ckKE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="projects_main_after_first">
  <span class="project_name">Where's It</span> is a simple mobile app (<span id="projects_link"><a href="https://github.com/mingkichong/Wheres_It_Android_App" target="_blank">source</a></span>) that allows users to record their current location by a push of a button.
  The users can later review the location on a map and navigate back to the location.

  <div class="project_get_it_on_app_store" style="margin-top: 10px;">
    <a href='https://play.google.com/store/apps/details?id=net.mingkichong.apps.wherewasit&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img width="180" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
  </div>

  <div class="project_demo_video">
    <a href="./assets/pic/wheres_it/1.jpg" data-lightbox="wheres_it_screenshots"><img src="/assets/pic/wheres_it/1.jpg" height="250" /></a>
    <a href="./assets/pic/wheres_it/2.jpg" data-lightbox="wheres_it_screenshots"><img src="/assets/pic/wheres_it/2.jpg" height="250" /></a>
    <a href="./assets/pic/wheres_it/3.jpg" data-lightbox="wheres_it_screenshots"><img src="/assets/pic/wheres_it/3.jpg" height="250" /></a>
    <a href="./assets/pic/wheres_it/4.jpg" data-lightbox="wheres_it_screenshots"><img src="/assets/pic/wheres_it/4.jpg" height="250" /></a>
    <a href="./assets/pic/wheres_it/5.jpg" data-lightbox="wheres_it_screenshots"><img src="/assets/pic/wheres_it/5.jpg" height="250" /></a>
  </div>
</div>

<div class="projects_main_after_first">
  <span class="project_name">My Location Address</span> is built with Flutter (<span id="projects_link"><a href="https://github.com/mingkichong/my_location_address" target="_blank">source</a></span>). It retrieves the address of the user's location.

  <div class="project_get_it_on_app_store" style="margin-top: 10px;">
    <a href='https://play.google.com/store/apps/details?id=net.mingkichong.mylocationaddress&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img width="180" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
  </div>

  <div class="project_demo_video">
    <a href="https://raw.githubusercontent.com/mingkichong/my_location_address/master/images/flutter_01.png" data-lightbox="my_location_address_screenshots"><img src="https://raw.githubusercontent.com/mingkichong/my_location_address/master/images/flutter_01.png" height="250" /></a>
    <a href="https://raw.githubusercontent.com/mingkichong/my_location_address/master/images/flutter_02.png" data-lightbox="my_location_address_screenshots"><img src="https://raw.githubusercontent.com/mingkichong/my_location_address/master/images/flutter_02.png" height="250" /></a>
    <a href="https://lh3.googleusercontent.com/doHU3huJvcaUZLsosJ59iv91Z7YeGGewaOA9zldutzEwsjy2gls26cb6772bL83xeowU=w2688-h1464-rw" data-lightbox="my_location_address_screenshots"><img src="https://lh3.googleusercontent.com/doHU3huJvcaUZLsosJ59iv91Z7YeGGewaOA9zldutzEwsjy2gls26cb6772bL83xeowU=w2688-h1464-rw" height="250" /></a>
  </div>
</div>

<div class="projects_main_after_first">
  <span class="project_name">How Users Connect Devices</span> was part of my PhD user research project.
  It examined the rationale and the types of actions that people would come up with when they connect devices on the spot.
  It turns out that quite a few factors (like mobility, physicality) can influence their choices.
  <div class="project_demo_video">
    <iframe width="420" height="236" src="https://www.youtube.com/embed/hcIAbbtrZQM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

</section>
