<div class="user-details">
 	<h1> Publications </h1>
 	<div id="pub_google_scholar" >
 		<a href="#">My Google Scholar</a>
 	</div>
  	<div align="center">
	  	<ul style="width:65%;">
		  	<li id="pub" align="left">
		  		<span class="pub_title">__paper_title__ -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
		  		<p>
		  			<span class="pub_author">__authors__ -- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
		  			<br/>
		  			<span class="pub_venue">__publication_venue__ -- Journal / Conference Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>,
		  			<span class="pub_venue_city">__city__</span>,
		  			<span class="pub_pages">__pages__</span>,
		  			<span class="pub_year">__year__</span>
		  			<br/>
		  			<span class="pub_highlight">(__highlight__)</span><br/>
		  		</p>
		  		<span class="pub_link"><a href="#">__doi/link__</a></span>
		  	</li>
	  	</ul>
	</div>
</div>