<div class="user-details">
  <h1> My Skills &amp; Strengths </h1>
</div>
<div class="skills_list">
  Excellent skills in <span class="skills_strong">Communication</span>, <span class="skills_strong">Team Management</span>, and <span class="skills_strong">Leadership</span>
</div>
<div class="skills_list">
  Strong <span class="skills_strong">problem analysis and solving</span> skills
</div>
<div class="skills_list">
  Passion for <span class="skills_strong">creating amazing customer experiences</span> (PhD in understanding users' needs)
</div>
<div class="skills_list">
  Self-starter with experience working in <span class="skills_strong">agile environment and dynamic teams</span>
</div>
<div class="skills_list">
  Building easy-to-use <span class="skills_strong">APIs and RESTful services</span> and writing technical documentation
</div>
<div class="skills_list">
  Strong knowledge of <span class="skills_strong">optimising system architecture</span> (process, memory, storage and networking)
</div>
<div class="skills_list">
  Proficient in Git; Perl; Java; C#; SQL; PHP; HTML/CSS/JS; XML; Android; Flutter and Dart;
</div>

