<div class="about_down_scroll">
  <span id="about_link">
    <a href="#skills" data-scroll>{% include arrow-down.html %}</a>
  </span>
</div>
<section id="skills">

<div class="user-details">
  <h1> My Skills &amp; Strengths </h1>
</div>
<div class="skills_list">
  <div>
    Excellent skills in <span class="skills_strong">Communication</span>, <span class="skills_strong">Team Management</span>, and <span class="skills_strong">Leadership</span>
  </div>
  <div>
    Strong <span class="skills_strong">problem analysing and solving</span> skills
  </div>
  <div>
    Passion for <span class="skills_strong">creating amazing user experiences</span> (PhD in understanding user requirements)
  </div>
  <div>
    Self-starter with experience working in <span class="skills_strong">agile environments and dynamic teams</span>
  </div>
  <div>
    Building easy-to-use <span class="skills_strong">APIs</span> and <span class="skills_strong">RESTful services</span> and writing technical documentation
  </div>
  <div>
    Strong knowledge in <span class="skills_strong">optimising</span> and <span class="skills_strong">scaling system architectures</span>
  </div>
  <div>
    Providing <span class="skills_strong">mentorship</span> and <span class="skills_strong">guidance</span> to juniors and guiding them to think differently
  </div>
  <div>
    Proficient in Git; Java; Perl; C#; SQL; PHP; HTML/CSS/JS; XML; Android; Flutter and Dart;
  </div>
</div>

</section>
