<div class="user-details">
  <h1> My Skills &amp; Strengths </h1>
</div>
<div class="skills_list">
  <ul class="skills_ul_style">
    <li>
      Excellent skills in <span class="skills_strong">Communication</span>, <span class="skills_strong">Team Management</span>, and <span class="skills_strong">Leadership</span>
    </li>
    <li>
      Strong <span class="skills_strong">problem analysing and solving</span> skills
    </li>
    <li>
      Passion for <span class="skills_strong">creating amazing user experiences</span> (PhD in understanding users' needs)
    </li>
    <li>
      Self-starter with experience working in <span class="skills_strong">agile environments and dynamic teams</span>
    </li>
    <li>
      Building easy-to-use <span class="skills_strong">APIs and RESTful services</span> and writing technical documentation
    </li>
    <li>
      Strong knowledge in <span class="skills_strong">optimising</span> and <span class="skills_strong">scaling system architecture</span>
    </li>
    <li>
      Providing <span class="skills_strong">mentorship and guidance</span> to juniors and teaching them to think differently
    </li>
    <li>
      Proficient in Git; Java; Perl; C#; SQL; PHP; HTML/CSS/JS; XML; Android; Flutter and Dart;
    </li>
  </ul>
</div>
