<section id="summary">

<div class="user-details">
  <h1> TLDR </h1>
</div>

<center>
  <div class="about_json">
    <pre>
{
  "first_name"    : "<strong>Ming_Ki</strong>",
  "last_name"     : "<strong>Chong</strong>",
  "also_known_as" : "The guy with an _underscore",
  "who_am_i"      : ["Software Engineer (Backend)", "Researcher", "Mentor", "Leader"],
  "motto"         : "Simplicity",
  "email"         : "{{ site.email_address }}",
  "superpowers"   : ["transforming carbohydrates into computer code",
                     "creating, identifying, and fixing, unexpected exceptions",
                     "confusing people by asking many questions"],
  "social_media"  : [{"platform"    : <span id="about_link"><a><span class="tooltip">null<span class="tooltiptext"><div style="margin-bottom:5px;"><i style="font-size: 2em" class="far fa-grin-beam-sweat"></i></div><div>not null if you consider LinkedIn</div><div>as a social media platform</div></span></span></a></span>,
                      "description" : "I enjoy my privacy"}]
}
    </pre>
  </div>
</center>

<div>
  <div class="about_user_description"> {{site.user_description}} </div>
</div>

<div class="about_details">
  <pre class="about_user_description_want_more">if (you do not like too much text || not what you are looking for) { <span id="about_link"><a><span class="tooltip">contact me<span class="tooltiptext"><i class="fas fa-mail-bulk"></i> {{ site.email_address }}</span></span></a></span> } else { <span class="icon" id="about_link"><a href="#about" data-scroll>scroll <i class="fas fa-angle-double-down"></i></a></span> }</pre>
</div>

<div class="about_details" id="about_question">
  <div>
    Quick question: the chicken or the egg?
  </div>
  <div>
    Answer: <span id="about_answer">roast the chicken and scramble the egg, and there is a delicious meal.</span> <span id="about_link"><a><span class="tooltip">─=≡Σ((( つ◕ᴗ◕)つ<span class="tooltiptext">fly away &#8230;</span></span></a></span>
    <!-- Hehehe, did you zoom in to read the answer or did you decide to read from the source :p -->
  </div>
</div>

</section>
