<section id="summary">

<div class="user-details">
  <h1> TLDR </h1>
</div>

<center>
  <div class="about_json">
    <pre>
{
  "first_name"    : "<strong>Ming_Ki</strong>",
  "last_name"     : "<strong>Chong</strong>",
  "also_known_as" : "The guy with an <strong>_underscore</strong>",
  "who_am_i"      : ["<strong>Software Engineer</strong>",
                     "<strong>Researcher</strong>",
                     "<strong>Mentor</strong>",
                     "<strong>Leader</strong>"],
  "email"         : "<strong>unexpected</strong> &#8901; <strong>exception</strong> <span class="summary_at">&#64;</span> <strong>gmail</strong> &#8901; <strong>com</strong>",
  "social_media"  : [{"platform"    : <strong><span id="about_link"><a><span class="tooltip">null<span class="tooltiptext"><div style="margin-bottom:5px;">¯\(°_o)/¯</div><div>not null if you consider LinkedIn</div><div>as a social media platform</div></span></span></a></span></strong>,
                      "description" : "I enjoy my privacy"}]
}
    </pre>
  </div>
</center>

<div>
  <pre class="about_user_description"> {{site.user_description}} </pre>
</div>

<div class="about_details">
  <pre class="about_user_description_want_more">if (you do not like too much text || not what you are looking for) { <span id="about_link"><a data-scroll><span class="tooltip">contact me<span class="tooltiptext">email&#58;&nbsp;&#91;&nbsp;unexpected&nbsp;&#8901;&nbsp;exception&nbsp;&#64;&nbsp;gmail&nbsp;&#8901;&nbsp;com&nbsp;&#93;</span></span></a></span> } else { <span class="icon" id="about_link"><a href="#about" data-scroll>scroll &darr;</a></span> }</pre>
</div>

<div class="about_details" id="about_question">
  <div>
    Quick question: the chicken or the egg?
  </div>
  <div>
    Answer: <span id="about_answer">roast the chicken and scramble the egg, and there is a delicious meal.</span> <span id="about_link"><a><span class="tooltip">─=≡Σ((( つ◕ᴗ◕)つ<span class="tooltiptext">fly away &#8230;</span></span></a></span>
    <!-- Hehehe, did you zoom in to read the answer or did you decide to read from the source :p -->
  </div>
</div>

</section>
