<section id="summary">

<div class="user-details">
  <h1> TLDR </h1>
</div>

<center>
  <div class="about_json">
<pre>{
  <span class="about_json_key">&quot;first_name&quot;</span>    : <span class="about_json_value" style="font-weight: bold;">&quot;Ming_Ki&quot;</span>,
  <span class="about_json_key">&quot;last_name&quot;</span>     : <span class="about_json_value" style="font-weight: bold;">&quot;Chong&quot;</span>,
  <span class="about_json_key">&quot;also_known_as&quot;</span> : <span class="about_json_value">&quot;The guy with an _underscore&quot;</span>,
  <span class="about_json_key">&quot;who_am_i&quot;</span>      : [<span class="about_json_value">&quot;Software Engineer (Backend)&quot;</span>, <span class="about_json_value">&quot;Researcher&quot;</span>, <span class="about_json_value">&quot;Mentor&quot;</span>, <span class="about_json_value">&quot;Leader&quot;</span>],
  <span class="about_json_key">&quot;motto&quot;</span>         : <span class="about_json_value">&quot;Simplicity&quot;</span>,
  <span class="about_json_key">&quot;email&quot;</span>         : <span class="about_json_value">&quot;{{ site.email_address }}&quot;</span>,
  <span class="about_json_key">&quot;superpowers&quot;</span>   : [<span class="about_json_value">&quot;transforming carbohydrates into computer code&quot;</span>,
                     <span class="about_json_value">&quot;creating and fixing unexpected exceptions&quot;</span>,
                     <span class="about_json_value">&quot;confusing people by asking many questions&quot;</span>],
  <span class="about_json_key">&quot;social_media&quot;</span>  : [{<span class="about_json_key">&quot;platform&quot;</span>    : <span id="about_link"><a><span class="tooltip">null<span class="tooltiptext"><div style="margin-bottom:5px;"><i style="font-size: 2em" class="far fa-grin-beam-sweat"></i></div><div>not null if you consider LinkedIn</div><div>as a social media platform</div></span></span></a></span>,
                      <span class="about_json_key">&quot;description&quot;</span> : <span class="about_json_value">&quot;I enjoy my privacy&quot;</span>}]
}
</pre>
  </div>
</center>

<div class="about_user_description"> {{site.user_description}} </div>

<div class="about_details">
  <pre class="about_user_description_want_more">if (you do not like too much text || not what you are looking for) { <span id="about_link"><a><span class="tooltip">contact me<span class="tooltiptext"><i class="fas fa-mail-bulk"></i> {{ site.email_address }}</span></span></a></span> } else { <span class="icon" id="about_link"><a href="#about" data-scroll>scroll <i class="fas fa-angle-double-down"></i></a></span> }</pre>
</div>

<div class="about_details" id="about_question">
  <div>
    Quick question: the chicken or the egg?
  </div>
  <div>
    Answer: <span id="about_answer">roast the chicken and scramble the egg, and there is a delicious meal.</span> <span id="about_link"><a><span class="tooltip">─=≡Σ((( つ◕ᴗ◕)つ<span class="tooltiptext">fly away &#8230;</span></span></a></span>
    <!-- Hehehe, did you zoom in to read the answer or did you decide to read from the source :p -->
  </div>
</div>

</section>
