:root {
  --about-vertical-margin: 50px;
}

.about_simplified {
    font-size: 16px;
    text-align: center;
    margin-top: var(--about-vertical-margin);
    margin-bottom: var(--about-vertical-margin);
}

.about_user_description {
    font-size: 20px;
    text-align: center;
}

.about_details{
    font-size: 16px;
    text-align:justify;
    padding-left: var(--about-vertical-margin);
    padding-right: var(--about-vertical-margin);
    margin-top: var(--about-vertical-margin);
    margin-bottom: var(--about-vertical-margin);
}

.about_table {
    padding-left: 17%;
    text-align: left;
    line-height: 1.2;
}

.about_grumpy_note {
    font-size: 2px;
    text-align: center;
}

#about_link {
    font-weight: bold;
}

#about_link a {
    color: #006666;
    text-decoration: none;
}

#about_link a:hover {
    text-decoration: underline;
}