:root {
    --projects-vertical-margin: 50px;
    --projects-top-margin: 50px;
    --projects-bottom-margin: 100px;
}

.projects_main_first {
    text-align: justify;
    margin-bottom: var(--projects-top-margin);
}

.projects_main_after_first {
    text-align: justify;
    margin-top: var(--projects-top-margin);
    margin-bottom: var(--projects-top-margin);
}

.project_demo_video {
    text-align: center;
    margin-top: 10px;
}

.project_demo_video img {
    max-height: 250px;
    max-width: 100%;
}

.project_name {
    font-size: 26px;
    font-weight: bold;
}

.project_get_it_on_app_store{
    text-align: center;
}

#projects_link {
    font-weight: bold;
}

#projects_link a {
    color: #006666;
    text-decoration: none;
}

#projects_link a:hover {
    text-decoration: underline;
}
