:root {
  --p-vertical-margin: 2px;
}

#pub_ul {
	width:52.5%;
}

#pub_google_scholar {
	font-size: 18px;
}
#pub_google_scholar a {
	color: #006666;
	text-decoration: none;
}
#pub_google_scholar a:hover {
	text-decoration: underline;
}

#pub {
	margin-top: 10px;
}
#pub a {
	color: #006666;
	text-decoration: none;
}
#pub a:hover {
	text-decoration: underline;
}
#pub p {
	font-size: 14px;
	margin-top: var(--p-vertical-margin);
	margin-bottom: var(--p-vertical-margin);
}

.pub_title {
	font-weight: bold;
	font-size: 16px;
}

.pub_year {
}

.pub_author {
	font-style: italic;
}

.pub_author_me{
	text-decoration: underline;
}

.pub_venue {
}

.pub_venue_city {
}

.pub_pages {
}

.pub_journal{

}

.pub_j_volume {

}

.pub_j_number {

}

.pub_highlight {
	font-weight: bold;
}

.pub_link {
	font-style: italic;
	font-size: 12px;
}

.pub_volunteer_pos {
	font-weight: bold;
	font-size: 18px;;
}

.pub_volunteer_conf {
	font-size: 14px;;
}