.summary_at {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #006666;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #006666 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}