<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body id="body">
  {% if content != '' %}
    {{ content }}
  {% else %}
    {% include header.html %}
    {% if site.include_summary %}
      {% include summary.html %}
    {% endif %}
    {% if site.include_about %}
      {% include about.html %}
    {% endif %}
    {% if site.include_skills %}
      {% include skills.html %}
    {% endif %}
    {% if site.include_project %}
      {% include projects.html %}
    {% endif %}
    {% if site.include_publication %}
      {% include publications.html %}
    {% endif %}
    <div class="about_up_scroll">
      <span id="about_link">
        <a href="#body" data-scroll>{% include arrow-up-bottom.html %}</a>
      </span>
    </div>
    {% include footer.html %}
  {% endif %}
</body>
